# Dependencies
node_modules

# Next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables (.env.example is committed)
.env
.env*.local
.env.development
.env.production

# Vercel
.vercel

.md
